@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.header li a:hover:not(.active) {
  background-color: #111;
}

.selected {
  color: white !important;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

.floatLeft {
  float: left;
  margin-left: 20px;
}

.floatRight {
  position: absolute;
  right: 0px;
  margin-right: 10px;
  margin-top: 6px;
  color: white;
}

.pageContent {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

.adminStyle {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul.header li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topicContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topicContainer h1{
  display: flex;
  position: relative;
  justify-content: center;
}

#listbar{
  display: block;
}

#listbar a{
  font-size: 1.5em;
  text-decoration: none;
  color: black ;
  text-align: left;
  padding: 0;
  margin-top: 1.4em;
}

.topicContainer  span{
  font-style: italic;
  font-size: 0.9em;
}

.commentPage-title{
  margin-bottom: 30px;
}

.commentPage strong{
  color: rgb(155, 155, 155);  
}

.commentCard{
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 80%;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 30px;


}

.comment-username{
  display: flex;
  color: #949494;
  font-size: 0.8em;
  margin-bottom: 15px;
}

.comment-text{

}

.comment-img{
  align-self: center;
  width: 200px;
  height: auto;
}
